extends layout

block content
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="js/main.js").
    var socket = io.connect('http://localhost:3000');

    socket.on('checkDBResp', function (data) {
        if(data) {
          alert('done');
          console.log(data);
        }
        else alert('error');
    });

    socket.emit('checkDB');
