extends layout

block content
  .container
    h1 Routing Information Protocol
    button#add.btn.btn-default Add New Network
    br
    br
    button#view.btn.btn-default View Network
    br
    br
    button#addvertise.btn.btn-default Addvertise
    .popupWrap#addNetworkPopup
      .popup
        form
          h1 Add New Network
          .form-group
            label(for="ip") IP address
            input#ip.form-control(type="text" placeholder="Enter ip")
          br
          br
          .form-group
            label(for="hop") Hop
            input#hop.form-control(type="text" placeholder="Enter hop")
          br
          br
          .form-group
            label(for="type") Type
            input#type.form-control(type="text" placeholder="Enter type")
          br
          br
          .form-group
            label(for="interface") Interface
            input#interface.form-control(type="text" placeholder="Enter interface")
          br
          br
          input#addNew.btn.btn-success(type="submit")
          |  
          button.cancel.btn.btn-danger Cancel
    .popupWrap#viewNetworkPopup
      .popup
        table.table.table-hover
          thead
            td IP
            td HOP
            td TYPE
            td INTERFACE  
          tbody
        button.cancel.btn.btn-default Back
    .popupWrap#addvertisePopup
      .popup
        // Modal
        #dataSent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                |         
                h4#myModalLabel.modal-title Done
              |       
              .modal-body
                | Data Table Sent
              |       
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
        
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="js/main.js")
