doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap-theme.min.css')
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="bootstrap/js/bootstrap.min.js")
  body
    block content