body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.popupWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #EDEDED;
}

.popup {
  position: relative;
  width: 500px;
  height: 260px;
  margin: auto;
  text-align: center;
}

#viewNetworkPopup table {
	margin: 80px auto;
}
